/*  your css code here. If applicable */
.img-text{
	color:white;
}
.container{
	display:flex;
	height:50vh;
	width:100%;
}
.panel{
	height:100%;
	width:50px;
	border-radius:25px;
	margin:7px;
}
.panel:active{
	height:100%;
	width:300px;
}
/* #panel-1{
	height:100%;
	width:50%;	
} */